<!doctype html>
<html class="no-js" lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Wattsave | {{title}}</title>
  <meta name="description" content="Wattsave">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="site-wrapper">

    <header>
      <a id="burger-menu" href="#">
        <div class="burger"></div>
      </a>

      <nav id="nav-overlay" class="overlay">
        <ul class="nav">
          <li class="item">
            <a class="link" href="./">Our Products</a>
          </li>
          <li class="item">
            <a class="link" href="./about.html">About Us</a>
          </li>
          <li class="item">
            <a class="link" href="./contact.html">Contact Us</a>
          </li>

        </ul>
      </nav>

      {{#block "header"}}
      {{/block}}

    </header>

    <main>
      {{#block "body"}}
      {{/block}}
    </main>

    <footer class="footer">
      <small>
        <div>&copy; Copyright <span id="year">2018</span> Wattsave Ltd</div>
        <div>Wattave is a registered trademark</div>
      </small>
    </footer>

  </div>

  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

  <script>
    var burgerBtn = document.getElementById('burger-menu')
    var burger = burgerBtn.querySelector('.burger')
    var navOverlay = document.getElementById('nav-overlay')
    var footer = document.getElementById('year')

    footer.innerHTML = (new Date()).getFullYear()


    burgerBtn.addEventListener('click', function (evt) {
      evt.preventDefault()
      burger.classList.toggle('open')
      navOverlay.classList.toggle('visible')
    })
  </script>
</body>

</html>
